*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* UTILI */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.between{
    justify-content: space-between;
}
.container{
    max-width: 1200px;
    width: 75%;
}
.sezione { /* DEBUG*/
    min-height: 250px;
    
}
.quadrato{
    min-height: 150px;   
}


/* HEADRE */
header{
    height: 50px;
    background-color: #255ee9;
}

/* LOGO */
.logo{
    min-height:36px;
    min-width: 102px;
}
/* LINK */
.link{
    padding-left:50px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.accedi{
    background-color: white;
    padding: 10px;
    border-radius: 2rem;
    
}

/* HERO */
.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;   
}
.hero-1{
    width: 55%;
    color: white;
    text-align: center;
}
.hero-1 > p{
    padding: 20px;
}

.hero-1 > ul{
    list-style-type: none;
}
li > a{
    margin: 10px;
    padding: 10px;
}
.mac{
    content:"\1F817";
    color: black;
    background-color: white;
    border-radius: 20px; 
    vertical-align: middle; 
}
.mac > span{
    font-size: 30px;
    vertical-align: middle;
    padding-right: 5px;
}
.browser{
    color: white;
    background-color: black;
    border-radius: 20px;  
}

/* SECTION ORRDER */
.bianco{
    background-color:white;
}
.grigio{
    background-color: lightgrey;
}

.piccolo{
    background-color: pink;
    width: 25%;
}
.grande{
    background-color: blue;
    width: 50%; 
}
/* SECTION NORMALE */
.sezione-xlarge{
    min-height: 400px;
}
.quadrato-large{
    min-height: 300px;
    width: 75%;
    background-color: green;
}

/* SECTION 5DIV SHRINK */
.nero{
    background-color: black;
}
.bordo{
    border: 1px dotted white;
}
.primo{
    background-color: pink;
    width: calc((75% / 6) * 2);
}
.secondo{
    background-color: green;
    width: calc(75% / 6);
}

/* FOOTET SPACE-BETWEEN */
.footer{
    height: 50px;
    align-items: flex-end;
}
.end{
    min-height: 30px;
    width: 75%;
    background-color: lime;
    justify-content: space-between;
}
.rosa{
    background-color: pink;
}
